
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Creepster;
  background: url(../public/Images/place4.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #aada1b;
}

.container {
  background-image: url(../public/Images/place6.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px -270px;
  /* background-color: aada1b; */
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 7rem auto;
  /* color: rgb(63, 62, 62);p */
  font-size: 20px;

  border-radius: 15px 50px;
  border: solid #ea1919 5px;
  border-style: double;
}

.loser {
  min-height: 250px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #aada1b;
  line-height: 1;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 25px rgb(0, 0, 0 / 25%);
}

.movie-items {
  max-width: 1024px;
  margin: 5rem auto;
  column-count: 2;
  column-gap: 20px;
  padding: 0 5rem;
}

.movie-item {
  page-break-inside: avoid;
  padding: 0 1em 1em;
}

.movie-item > p {
  font-size: 15px;
}